ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  header {
    background: linear-gradient(to bottom, #2c3e50, #34495e);
    color: #fff;
    padding: 20px 0; 
  }
  
  .navbar {
    display: flex;
    justify-content: center;
  }
  
  .nav-list {
    display: flex;
    width: 100%; 
    justify-content: center;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .nav-item a:hover {
    background-color: #ff4500; 
    color: #fff;
  }
  
  .hero {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 60px 0;
  }
  
  .cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #e74c3c;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #c0392b;
  }
  
  .custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dedede;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 100px; 
    transition: background-color 0.3s;
    color: brown;
    width: 140px;
  }
  
  .custom-button:hover {
    background-color: white;
  }
  
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
  }
  
  #closeButtonWrapper {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  #closeOverlay {
    font-size: 40px; 
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  